@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');


body{
	position: relative;
	width: 100%;
	height: 5216px;
	background: #242633;
	margin: 0;
}

nav{
	position: absolute;
	width: 1240px;
	height: 58px;
	left: 100px;
	top: -100px;
	display: grid;
	columns: 5;
}

nav img{
	position: absolute;
	width: 182px;
	height: 58px;
	right: 1158px;
	left: 100px;
}

nav ul li{

	list-style-type: none;
}

nav ul li a{
	position: absolute;
	width: 54px;
	height: 28px;
	right: 580px;

	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	/* identical to box height */

	text-decoration: none;
	color: #FFFFFF;
}

nav ul li a#book{
	position: absolute;
	width: 63px;
	height: 28px;
	right: 460px;
	color: #CCAE43;
	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	/* identical to box height */

	text-decoration: none;
}
nav ul li a#shop{
	position: absolute;
	width: 55px;
	height: 28px;
	right: 350px;

	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	/* identical to box height */

	text-decoration: none;
	color: #FFFFFF;
}
nav ul li a#login{
	position: absolute;
	width: 182px;
	height: 38.93px;
	right: 100px;
	top: 9px;
	text-decoration: none;
	background: #242633;
	border: 2px solid #595393;
	border-radius: 5px;
	display: flex;
    justify-content: center;
    align-items: center;
}

footer{
	position: absolute;
	left: 0px;
	right: 0%;
	top: 92.83%;
	bottom: 0;
	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
	bottom : 0;
}

footer img{
	position: absolute;
	left: 100px;
	top: 37px;
}

footer #inp{
	position: absolute;
	width: 580px;
	height: 0px;
	right: 400px;
	top: 50px;


	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;

	color: #FAF6F0;
}


i{
	color: white;
}

#icons{
	position: absolute;
	width: 580px;
	right: 250px;
	top: 59px;
}

.input-group {
	position: absolute;
	right: 100px;
	top: 50px;
	background-color: #242633;
	border-radius: 2px;
	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	color: white;
}

.form-control{
	background-color: #14151D;
	border-radius: 2px;
	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
}

.input-group-addon{
	width: 200px;
	text-decoration: none;

}

#fsection{
	position: absolute;
	width: 100%;
	height: 660px;
	left: calc(50% - 1440px/2);
	top: 114px;

}

#main{
	position: absolute;
width: 393px;
height: 447px;
left: calc(50% - 393px/2 - 423.5px);
top: 103px;

}

#h1{
	position: absolute;
width: 387px;
height: 74px;
left: calc(50% - 387px/2 + 202.5px);
top: 45px;

font-family: Risque;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 74px;
/* identical to box height */


color: #FFFFFF;
}

div#fsection p{
	position: absolute;
width: 800px;
height: 222px;
left: calc(50% - 800px/2 + 203px);
top: 180px;

font-family: Risque;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 32px;

color: #FAF6F0;

text-shadow: 1px 1px 4px #FFFFFF;
}

div#fsection a{
	position: absolute;
width: 302px;
height: 41px;
left: calc(50% - 202px/2 + 150px);
top: 500px;
text-decoration: none;
font-family: Risque;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

color: #FAF6F0;
text-align: center;
border: 1px solid #46426F;
border-radius: 5px;
background-color: #46426F;
}

h2{
	position: absolute;
	width: 166px;
	height: 74px;
	left: 660px;
	top: calc(50% - 74px/2 - 1696px);

	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 74px;
	/* identical to box height */

	color: #FAF6F0;
}

#ssection{
	position: absolute;
	width: 393px;
	height: 654px;
	left: 100px;
	top: calc(50% - 654px/2 - 1198.89px);

	background: #FAF6F0;
}

#ssection2{
	position: absolute;
	width: 393px;
	height: 654px;
	left: 450px;
	top: 0px;

	background: #FAF6F0;
}

#ssection3{
	position: absolute;
	width: 393px;
	height: 654px;
	left: 450px;
	top: 0px;

	background: #FAF6F0;
}

.card1{
	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	width: 393px;
	height: 654px;

	background: #FAF6F0;
}

.card1 img{
	margin-top: 15px;
	margin-left: 47px;
}

#one{
	border: 1px solid #46426F;
	border-radius: 50px;
	color: #CCAE43;
	background-color: #46426F;
	margin-top: 50px;
}

#two{
	font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;

	color: #242633;

	margin-top: 0px;
	text-align: center;
	margin-left: 100px;
}

.btn{
	text-decoration: none;
	border: 1px solid #46426F;
	border-radius: 10px;
	background-color: #46426F;
	color: #FAF6F0;
	margin-left: 55%;
}

.animation{
	 top: 100px;
	  position: relative;
	  animation-name: example;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;	
	  animation-timing-function: linear;
}

@keyframes example {
  0%   { left:0px; top:200px;}
  20%  { left:800px; top:200px;}
  40%  { left:800px; top:-800px;}
  60%  { left:-500px; top:-800px;}
  80% { left:-500px; top:200px;}
  100%  { left:0px; top:200px;}
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-left: -150px;
  margin-top: 200px;
  margin-left: -270px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  font-size: 5px;
  text-align: center;
  width: 300px;
  height: 200px;
  font-family: Risque;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 10px;
}

body > table{
    width: 80%;
    background: green;
}
#qwe{
    background: gray;
}
td, th {

    border: 1px solid;
}

input[type=text]{
    width: 100%; 
}

input[type=submit]{
	border: 1px solid #46426F;
	border-radius: 10px;
	background-color: #46426F;
	color: #FAF6F0;
}

label{
	color: #FAF6F0;

}

.list{
	color: #FAF6F0;
	margin-left: 50px;
}